In [1]:
import pandas as pd
import numpy as np

In [2]:
data_folder = "../../Dataset/Movie/"

In [3]:
rating = pd.read_csv(f"{data_folder}ratings.csv").drop(["timestamp"], axis=1)
movie = pd.read_csv(f"{data_folder}movies.csv")
#tag = pd.read_csv(f"{data_folder}tags.csv").drop(["timestamp"], axis=1)
data = pd.merge(movie, rating, on="movieId")

In [62]:
cdata = data.copy()
N = 10**4
thresh = int(N*0.1)

ids = cdata["userId"].value_counts()[:N].index
cdata = cdata[cdata["userId"].isin(ids)]

titles = cdata["title"].value_counts()[:N].index
cdata = cdata[cdata["title"].isin(titles)]

pv = cdata.pivot_table(index="userId", columns="title", values="rating")
pv = pv.dropna(axis=1, thresh=thresh).dropna(axis=0, thresh=thresh)

pv

title,"'burbs, The (1989)",(500) Days of Summer (2009),10 Cloverfield Lane (2016),10 Things I Hate About You (1999),"10,000 BC (2008)",101 Dalmatians (1996),101 Dalmatians (One Hundred and One Dalmatians) (1961),12 Angry Men (1957),12 Years a Slave (2013),127 Hours (2010),...,Zero Dark Thirty (2012),Zero Effect (1998),Zodiac (2007),Zombieland (2009),Zoolander (2001),Zootopia (2016),[REC] (2007),eXistenZ (1999),xXx (2002),Â¡Three Amigos! (1986)
userId,,,,,,,,,,,,,,,,,,,,,
548,NaN,3.5,NaN,4.5,NaN,2.0,4.0,NaN,NaN,3.5,...,NaN,NaN,4.5,4.0,2.0,NaN,5.0,4.0,3.0,NaN
626,2.5,NaN,NaN,4.0,NaN,4.0,4.0,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,3.0,2.0
847,2.5,NaN,NaN,3.5,NaN,NaN,3.5,4.0,4.5,3.0,...,3.5,NaN,4.0,NaN,3.5,3.0,NaN,NaN,NaN,2.5
997,NaN,4.0,4.0,3.0,2.5,3.0,3.0,4.0,3.5,3.5,...,4.0,NaN,4.0,3.5,3.0,4.0,NaN,3.0,3.5,NaN
1401,3.0,1.0,4.0,1.0,NaN,2.0,NaN,5.0,2.0,NaN,...,NaN,NaN,4.0,2.5,2.0,2.0,3.0,2.0,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
161383,NaN,NaN,NaN,NaN,4.0,4.0,3.5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
161586,NaN,NaN,NaN,NaN,0.5,0.5,2.5,3.5,NaN,NaN,...,NaN,NaN,2.0,2.5,2.5,NaN,1.0,1.0,1.5,1.0
162047,NaN,4.0,NaN,3.0,NaN,2.5,NaN,5.0,4.0,4.0,...,3.5,3.5,5.0,3.0,2.0,NaN,4.5,4.5,NaN,NaN
162271,NaN,3.0,2.5,NaN,NaN,1.0,NaN,3.5,3.5,4.0,...,3.5,2.0,4.0,3.5,2.5,2.5,NaN,3.0,NaN,2.5
162516,NaN,4.0,3.5,3.5,NaN,3.5,4.0,4.5,4.0,4.0,...,4.0,4.0,4.0,3.0,3.0,4.0,3.5,3.5,2.5,2.0

<p>Beaucoup de film sont trÃ¨s peu rempli, il faudrait faire un algorithme qui permet de faire un pivot table sur toutes les donnÃ©es.</p>
<p>Pour cela il faudrait dÃ©couper le df par les colonnes, du style pleins de df en (:, 10) un truc comme Ã§a.</p>
<p>puis on applique le dropna et Ã  la fin on merged tous les df.</p>

In [ ]:
def add_only_new_elem(base_list:list, adding_list:list)->list:
    commun = [elem for elem in adding_list if elem in base_list]
    for elem in commun:
        adding_list.remove(elem)
    return adding_list

In [ ]:
genre = []
for g in data.genres.value_counts().index:
    genre = genre + add_only_new_elem(genre, g.split("|"))
genre.remove("IMAX")
genre.remove('(no genres listed)')